/BAB 1/AnggaranPribadi/dist/
/BAB3.Inheritance/nbproject/private/
/BAB3.Inheritance/build/
/BAB3.Inheritance/dist/
/Penilaian/nbproject/private/
/Penilaian/build/
/Penilaian/dist/
/Pert45a/nbproject/private/
/Pert45a/build/
/Pert45a/dist/
/VOLUMEKUBUS/nbproject/private/
/VOLUMEKUBUS/build/
/VOLUMEKUBUS/dist/
/BAB 1/AnggaranPribadi/nbproject/private/
/TUGAS_BAB4/nbproject/private/
/TUGAS_BAB4/build/
/TUGAS_BAB4/dist/
